
.control-panel-container {
    height: 150px;
    /* background-color: #47b450; */
    border: 1px solid #a8a8a8;
    border-radius: 10px;
}

.control-container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
