
.control-panel-container {
    margin-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
}

.control-container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
