
.result-table-container {
    flex-basis: 67%;
    animation: fadein 1s;
}

table {
    margin: auto;
    font-size: 18px;
}

td {
    text-align: left;
    padding: 2px 0px;
}

td:first-child {
    padding-right: 15px;
}

.flash {
    animation: fadein 1s;
}
