
.municipality {
  pointer-events: all;
  stroke: #000000;
  stroke-width:0.12473142;
  fill: none;
  transition: fill .5s;
}

.municipality.active {
  fill: #fff;
}

.municipality.selected {
  fill: #5f8fd8;
  transition: fill 2s;
}

.municipality.active:hover {
  fill: #3577db;
  transition: fill .05s;
}
