
.municipality-path {
  pointer-events: all;
  stroke: #000000;
  stroke-width:0.12473142;
  fill: #fff;
  transition: fill .5s;
}

.municipality-path:hover, .selected:hover {
  fill: #3bdb35;
  transition: fill .05s;
}

.selected {
  fill: #3169c2;
  transition: fill 2s;
}
