
.query-builder-container {
    margin-top: 40px;
    padding-bottom: 25px;
    border-radius: 10px;
    border: 1px solid #a8a8a8;
    background-color: #ffffff93;
    font-size: 18px;
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
}

input, select {
    margin: 5px 0px;
    font-size: 18px;
}

.radio-with-label {
    padding: 3px;
    display: flex;
    flex-flow: row nowrap;
    text-align: left;
}

.formfield {
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
}
