
.compare-table-container {
    flex-basis: 67%;
    animation: fadein 1s;
}

table {
    margin: auto;
    font-size: 22px;
    padding: 30px;
    border-radius: 20px;
    background-color: #ffffffb3;
}

h2 {
    font-size: 38px;
}

td {
    text-align: center;
    padding: 2px 0px;
}

td:first-child {
    text-align: left;
    padding-right: 15px;
}

select {
    max-width: 250px;
}

.flash {
    animation: fadein 1s;
}
