*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: auto;
  max-width: 1260px;
  font-family: 'Lato', sans-serif;
  color: #333;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
  padding-bottom: 200px;
}
